body {
  padding: 0;
  margin: 0;
  font-size: 16px;
}
nav,
footer {
  display: flex;
}

.branding {
  display: flex;
}

ul.menu,
ul.footer-menu {
  display: flex;
  list-style: none;
}

ul.menu li,
ul.footer-menu li {
  margin: 0 2rem;
}

section {
  background-color: grey;
  color: black;
  margin: 2rem 0;
}

#hero {
  display: flex;
  flex-wrap: wrap;
}
.banner {
}
